# SS14_RESOURCES=/path/to/mini-station-goob/Resources
# PORT=3000
# HOST=127.0.0.1
SITE_NAME=Вики Мини-станции
SITE_PUBLIC_URL=https://wiki.ministation.ru
MAIN_SITE_URL=https://ministation.ru
DEFAULT_PAGE=Main_Page
SPRITE_SCALE=2
