<nav id="{{id}}" class="side-portlet mw-portlet mw-portlet-{{name}} {{class}}" {{{html-tooltip}}} {{{html-user-language-attributes}}}>
	{{#label}}<div class="side-group-title">{{.}}</div>{{/label}}
	<ul class="side-menu" {{{html-user-language-attributes}}}>
		{{{html-items}}}
	</ul>
	{{{html-after-portal}}}
</nav>
